@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background-color: #F1F0E8;
    overflow-x: hidden;
}

.overlay {
    width: 100%;
}

.navigation-bar {
    width: 100%;
    background-color: #96B6C5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    margin: 10px;
}

.title {
    margin: 0;
    padding: 5px;
    color: #F1F0E8;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-left: 10px;
}

.options {
    display: flex;
}

.options a {
    margin-right: -10px;
    display: flex;
    color: #F1F0E8;
    text-decoration: none;
}

.options a i {
    margin: -10px 0px -10px 0px;
    font-size: 30px;
    display: flex;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
}

.options a i:hover{
    color: #d4d4d4
}

.options a:first-child {
    margin-left: 0;
}

.account-dropdown {
    position: relative;
    display: inline-block;
}

.account-subdropdown {
    margin-top: 10px;
    margin-right: -10px;
    display: none;
    position: absolute;
    background-color: #89a7b4;
    min-width: 120px;
    z-index: 1;
    right: 0;
}

.account-subdropdown a {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sub-overlay {
    display: flex;
}

.information-pane {
    height: 100%;
    width: 25%;
    background-color: #e6e3de;
    display: flex;
    position: fixed;
    right: 0;
    border-left: 2px solid #96B6C5;
}

.information-pane .title {
    font-family: 'Poppins', sans-serif;
}